@import 'common';
@import 'colors';
@import 'list';
@import 'speaker/speaker';
@import 'session/session';

html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}

body{
  font-family: 'Arial', 'Helvetica', sans-serif;
}

header {
  @include dm_shadow();
  flex: 0 0 64px;
  background-color: $color_primary;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header > a {
  color: white;
  background-color: $color_primary;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 1em;
}

main {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em;
}

footer {
  flex: 0 1;
  background-color: $color_dark;
  color: white;
  padding: 1em;
}

.logo{
  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}
